/* Estilo para a página de categorias */

.img_h{
	display: flex;
    margin-left: 5rem;
    margin-top: 2.5rem;

}


.section_menu{
    display: grid;
    justify-items: center;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 5rem;
    grid-gap: 2.5rem; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% ;


}
.section_menu_item1,.section_menu_item2,.section_menu_item3,.section_menu_item4{
	
    border-style: solid;
    border-width: 1px;
    width: 25rem;
    height: 20rem;
    
}

.section_menu_item1{
    grid-row-start: 1;
    grid-column-start: 1



}

.section_menu_item2{
    grid-row-start: 1;
    grid-column-start: 2

    
}

.section_menu_item3{
    grid-row-start: 2;
    grid-column-start: 1

    
}

.section_menu_item4{
    grid-row-start: 2;
    grid-column-start: 2

    
}

.section_menu_image{
	
    height: 50%;
    width:100%;
}




.section_menu_title{
    display: flex;
    justify-content: center;

}
.section_menu_text{
	display: flex;
    margin: 0.25rem


}