

.trab_menu{
	display: grid;
	justify-items: center;
	margin-left:5%;
	margin-right: 5%;
	margin-top: 5rem;
	grid-gap: 2.5rem; 
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50% ;


}

.img_place{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
}
.trab_big_image{
	margin: 0.5rem;
	width: 50%;
	height: 50%;


}
.trab_titulo{
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
.legenda_trab{ 
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.trab_menu_item1,.trab_menu_item2,.trab_menu_item3,.trab_menu_item4{

	border-style: solid;
	border-width: 1px;
	width: 25rem;
	height: 20rem;

}
.trab_menu_item1{
	grid-row-start:1;
	grid-column-start:1; 

}

.trab_menu_item2{
	grid-row-start:1;
	grid-column-start:2;
}

.trab_menu_item3{
	grid-row-start:2;
	grid-column-start:1;
}

.trab_menu_item4{
	grid-row-start:2;
	grid-column-start:2;
}
.trab_menu_image{
	height: 50%;
	width:100%;


}

.trab_menu_title{
	display: flex;
	justify-content: center;

}
.trab_menu_text{
	display: flex;
	margin: 0.25rem


}

