.head{
	position: relative;
	left: 475px
}

.img_h{
	position: relative;
	left: 550px;
}
.header {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
}

.nav {
    position: fixed;
    top: 10px;
    left: 10px;
}

.nav-item {
    background-color: gold;
    display: inline;
    position: relative;
    left: 20px;
}


.logo{
	position: absolute;
}
.main_menu_item.{
	display: inline;


}

.section_menu_item{
	display: inline-block;
	position: relative;
}

.section_menu{

}
.section_menu_image{

}

.section_menu_text