/* Estilo para o cabeçalho */

.header {
    border-style: solid;
    border-width: 1px;
    left: 5%;
    top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;


}

.logo{
    margin: 0.5rem;
    width: 5rem;
    height: 3rem;
}


.nav { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;


}

.nav-item {

    margin-left: 0.5rem
}

.img_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10rem;

}
/* Estilo para a página de categorias */

.img_h{
	display: flex;
    margin-left: 5rem;
    margin-top: 2.5rem;

}
.head{
	display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.section_menu{
    display: grid;
    justify-items: center;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 5rem;
    grid-gap: 2.5rem; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% ;


}
.section_menu_item1,.section_menu_item2,.section_menu_item3,.section_menu_item4{
	
    border-style: solid;
    border-width: 1px;
    width: 25rem;
    height: 20rem;
    
}

.section_menu_item1{
    grid-row-start: 1;
    grid-column-start: 1



}

.section_menu_item2{
    grid-row-start: 1;
    grid-column-start: 2

    
}

.section_menu_item3{
    grid-row-start: 2;
    grid-column-start: 1

    
}

.section_menu_item4{
    grid-row-start: 2;
    grid-column-start: 2

    
}

.section_menu_image{
	
    height: 50%;
    width:100%;
}




.section_menu_title{
    display: flex;
    justify-content: center;

}
.section_menu_text{
	display: flex;
    margin: 0.25rem


}

/* Estilo para página de projetos */

.trab_menu{
	position: absolute;
	left: 10px;
	top: 600px;
	width: 1024px;
	text-align: center;


}
.trab_titulo{
	position: absolute;
	left: 650px;
	top: 180px;

}
.legenda_trab{ 
	position: absolute;
	left: 450px;
	top: 500px;
}
.trab_menu_item{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 250px;

}
.trab_menu_image{
	position: absolute;
	left: 350px;
	top: 200px;
	width: 700px;
	height: 300px;
}


.trab_menu_text{
	position: absolute;
	left: 200px;
	top: 10px;
	width: 550px;
	height: 550px;
	text-align: left;

}

/* Estilo para a página do projeto */
.projeto_listao{
	display: inline-block;
	position: absolute;
	top: 175px;
	left: 670px;
	width: 500px;
	height: 250px;
	background-color: gold;
}

.projeto_lista{
	background-color: gold;
	display: inline;
	position: relative;
	left: 20px;
}

.item_projeto_lista{
	display: block;
	position: relative;
	width: 100px;
	height: 20px;
	background-color: gold;
}

.texto_projeto_lista{
	display: inline;
	position: relative;
	width: 50px;
	height: 25px;
	background-color: gold;
}

